 <footer class="pure-g container">
    <div class="pure-u-1-4">
        <p>
            <a href="http://seb7.fr">Création site e-commerce</a>
        </p>
    </div>
    <div class="pure-u-1-4">
        <p>
            Powered by <a href="http://silex.sensiolabs.org/">Silex</a> &amp; <a href="http://purecss.io/">pure css</a>
        </p>
    </div>
    <div class="pure-u-1-4">
        <p>
            <a href="https://github.com/SebSept/PrestashopModuleBuilder">Prestashop Module Builder on github</a>
        </p>
    </div>
    <div class="pure-u-1-4">
        <p>
            {# bouton don paypal #}
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="NCRRUPYW74RXG">
                <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
            </form>
        </p>
    </div>
</footer>