<footer class="pure-g container">

    <div class="pure-u-1-3">
        <h3>Powered by</h3>
        <ul>
            <li><a href="http://silex.sensiolabs.org/">Silex</a></li>
            <li><a href="http://purecss.io/">pure css</a></li>
            <li><a href="https://github.com/SebSept/PrestashopModuleBuilder">Prestashop Module Builder (github)</a></li>
        </ul>
    </div>

    <div class="pure-u-1-3">
        <h3>Ressources</h3>

        <ul>
            <li><a href="http://doc.prestashop.com/display/PS15/Creating+a+PrestaShop+module">Official wiki doc</a></li>
            <li><a href="http://www.technoreply.com/how-to-create-a-prestashop-1-5-module/">Technoreply article</a></li>
            <li><a href="http://seb7.fr" title="Création site e-commerce">Développeur prestashop</a></li>
        </ul>

    </div>

   {# <div class="pure-u-1-4">
        <h3>Made by</h3>
        <ul>
            <li><a href="http://seb7.fr">Sebastien Monterisi<br/>Création de sites internet Caen</a></li>
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NCRRUPYW74RXG">Say thanks  : Give me a tip</a></li>
        </ul>
    </div>#}


    <div class="pure-u-1-3">
        <h3>Share</h3>
        <ul>
            <li>
                <div class="fb-like" data-href="http://prestashop.seb7.fr/prestashop-module-builder/" data-width="80" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </li>
            <li>
                <div class="g-plusone" data-size="medium" data-href="http://prestashop.seb7.fr/prestashop-module-builder/" data-expandTo="top,left"></div>
            </li>
            <li>
                <a href="https://twitter.com/share" data-url="http://bit.ly/psmodbuild" data-via="seb_sept" data-text="Online tool to generate #prestashop #modules" class="twitter-share-button">Tweet</a>
            </li>
        </ul>
    </div>
    
</footer>
{# facebook shit #}
<div id="fb-root"></div>
<script type="text/javascript">(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=196547170534564";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{# /facebook shit #}
{# g+ #}
<script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
{# twitter #}
<script>!function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>
