{% extends "layout.html" %}

{% block content %}
<h1>Create your Prestashop module skeleton</h1>

{#	{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} #}

{{ form_start(form) }}
<fieldset>
	<legend>Main definition</legend>
	{{ form_row(form.name) }}
	{{ form_row(form.displayName) }}
	{{ form_row(form.description) }}
	{{ form_row(form.author) }}
	{{ form_row(form.version) }}
	{{ form_row(form.tab) }}

	{{ form_errors(form.need_instance) }}
	{{ form_widget(form.need_instance) }}
	{{ form_label(form.need_instance) }}

	{{ form_errors(form.has_config) }}
	{{ form_widget(form.has_config) }}
	{{ form_label(form.has_config) }}
</fieldset>

<fieldset>
	<legend>Hooks</legend>
	{% for element in form.form %}
	<div >
		{{ form_errors(element) }}
		{{ form_widget(element) }}
		{{ form_label(element) }}
	{% endfor %}
	</div>
</fieldset>

{{ form_end(form) }}

{% endblock %}
