{% extends "layout.html.twig" %}

{% block content %}
<div class="pure-u-1">
    <p>
        Prestashop module builder is a small tool to help you save time in the first steps creating a module for <a href="http://www.prestashop.com">Prestashop</a>.
    </p>
    
    <p>
        It's currently in alpha developpement stage, means generated code mya be bugged, this app may also be bugged. If you find some, please report at <a href="https://github.com/SebSept/PrestashopModuleBuilder">github project</a>.
        <br/>
        Lots of improvements can be done. Fork & push pull requests ! <a href="https://github.com/SebSept/PrestashopModuleBuilder">Prestashop Module builder on github</a>.
    </p>

    <p style="text-align:center;">
        <img rel="image_src" src="http://img-cdn.prestashop.com/logo.png" />
    </p>
    
    <p>
        <a href="form" id="try-button-container"><button class="pure-button pure-button-primary" >Try Prestashop module builder</button></a>
    </p>
</div>
{% endblock %}
