<!DOCTYPE html>
<html>
    <head>
        <title>Prestashop Module Builder</title>
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        {# you can customize template by adding content to 'templates/head.html.twig' #}
        {% include 'head.html.twig' ignore missing %}
    </head>
    <body>
        {% include 'header.html.twig' ignore missing %}
        <div class="container pure-g">
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html.twig' ignore missing %}
    </body>
</html>
