{#

 Prestashop Module builder

 Layout
 
 used in every app view

 If you wish to personnalize the app design and contents 
 you can create and add contents to /templates/head.html.twig , header.html.twig and footer.html.twig

 @author sebastien monterisi <sebastienmonterisi@yahoo.fr>

#}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebApplication">
    
    <head>
        <title>Prestashop Module Builder</title>
        <meta name="Description" content="Prestashop module builder is an online open source tool to generate prestashop module code" />
        <meta itemprop="name" content="Prestashop Module Builder">
        <meta itemprop="description" content="Prestashop module builder :  generate prestashop module code skeleton (a free online open source tool)">
        <meta itemprop="image" content="http://img-cdn.prestashop.com/logo.png">
        
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        {# you can customize template by adding content to 'templates/head.html.twig' #}
        {% include 'head.html.twig' ignore missing %}
    </head>
    
    <body>
        {% include 'header.html.twig' ignore missing %}
        <div class="container pure-g">
            <div class="pure-u-1">
                <h1><a href="{{ app.request.basepath }}">Prestashop Module Builder</a></h1>
            </div>
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html.twig' ignore missing %}
        <a id="forkme" href="https://github.com/SebSept/PrestashopModuleBuilder">
            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
        </a>
    </body>
    
</html>
