<!DOCTYPE html>
<html>
    <head>
        <title>Prestashop Module Builder</title>
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
        {# you can customize template by adding content to 'templates/head.html.twig' #}
        {% include 'head.html.twig' ignore missing %}
    </head>
    <body>
        {% include 'header.html.twig' ignore missing %}
        <div class="container pure-g">
            <div class="pure-u-1">
                <h1>Prestashop Module Builder</h1>
            </div>
            {% block content %}{% endblock %}
        </div>
        {% include 'footer.html.twig' ignore missing %}
        <a id="forkme" href="https://github.com/SebSept/PrestashopModuleBuilder">
            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
        </a>
    </body>
</html>
